<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AudioServerPlugIn_IOKitUserClients</key>
	<array>
		<string>AppleUSBHostDeviceUserClient</string>
		<string>AppleUSBHostInterfaceUserClient</string>
		<string>IOUSBDeviceUserClientV2</string>
		<string>IOUSBInterfaceUserClientV3</string>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>FastTrack24</string>
	<key>CFBundleIdentifier</key>
	<string>com.github.nclr.fasttrack24</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FastTrack24</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4</string>
	<key>CFBundleVersion</key>
	<string>5</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>F55B5D7E-ABE0-4D7E-B697-ADC9BFB53755</key>
		<string>FastTrack24_Create</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key>
		<array>
			<string>F55B5D7E-ABE0-4D7E-B697-ADC9BFB53755</string>
		</array>
	</dict>
</dict>
</plist>
